.marginTop-1 {
	margin-top: 1em;
}

.text-overflow {
	/*overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;*/

	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
}

html, body, #root, #root > div {
	padding: 0;
	margin: 0;
	height: 100%;
	/*overflow: hidden;*/
}