.card {
  margin-top: 2em;
  padding: 1em;
  border: 1px solid rgba(0,0,0,0.16);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  position: relative;
}

.row {
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

#openChat-join {
  position: absolute;
  right: 0;
  padding-right: 1em;
}

#openChat-room {
  font-size: 1.2em;
}

#openChat-user {
  margin-top: 0.5em;
  font-size: 0.8em;
}